@model HospitalManagment.Models.Login

@{
    ViewBag.Title = "Login";
}
<div class="content-wrapper">

    <div class="float-center">
        <table>
            <tr style="height:10px; border-bottom:5px solid darkred">
                <td style="width:90px;">
                    <img style="align-content:flex-end;width:100px;height:75px;" src="~/Images/IMG-20171206-WA0014.jpg" />
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="font:bold 45px vedana; font-style:initial;  ">
                                <label style="color:darkred; width:100px;">Bharati</label>
                            </td>
                            <td>
                                <label style="font:bold 20px vedana;color:darkblue;width:345px;">Hospital & Laparoscopy Center</label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <label style="color:darkblue;">Plot No.16, Ring road, Laxminagar, Phaltan-415523</label>
                </td>



            </tr>

            <tr style="border-bottom:5px solid darkred;">
                <td>
                    <img src="~/Images/laproscopy.jpg" style="align-content:flex-end;width:100px;height:75px;" />
                </td>
                <td>
                    <table>
                        <tr><td colspan="2"><label>Dr. Mahesh H. Shinde(M.B.B.S., M.D. Obs & Gny)</label></td></tr>
                        <tr><td colspan="2"><label>Reg.No. MMC 2006-11-3480</label></td></tr>
                        <tr><td colspan="2">(स्त्री रोग,प्रसूति तज्ज्ञ व लॅपेरोस्कोपिक शस्त्रक्रिया)</td></tr>
                        <tr><td>Hospital Reg. STR/PHL/78 </td></tr>
                        <tr><td>Mobile : 9737407067</td><td>Hospital: (02166) 225581</td></tr>
                    </table>
                </td>
                <td>
                    <img src="~/Images/temp.gif" style="width:100px;height:75px;" />
                </td>
            </tr>
        </table>

    </div>

</div>
<h2>Login</h2>



@using (Html.BeginForm("LoginDetails", "Login", FormMethod.Post))
{

    //"LoginDetails", "Login"
    <fieldset>
        <legend>Login</legend>
        <div>
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "loginInputButton" } })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "loginInputButton" } })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
        <p>
            @*<a href="http://localhost/HospitalManagment/Registration/Index" class="Button">Text</a>*@
            @Html.ActionLink("Register Now!", "Index", "Registration")
            @*<input type="submit" value="Register Now!" />*@
        </p>
        <div>
            <table>
                <tr>
                    <td> @Html.ActionLink("ConservativeDetail", "ConservativeDetail", "ConservativeDetail")</td>
                    <td> @Html.ActionLink("MonitoringChart", "MonitoringChart", "MonitoringChart")</td>
                    <td> @Html.ActionLink("TypeOfRoomAndBed", "TypeOfRoomAndBed", "TypeOfRoomAndBed")</td>
                    <td> @Html.ActionLink("OperationDetail", "OperationDetail", "OperationDetail")</td>
                    <td> @Html.ActionLink("TypeOfOperation", "TypeOfOperation", "TypeOfOperation")</td>
                    <td> @Html.ActionLink("LabourDetail", "LabourDetail", "LabourDetail")</td>
                    <td> @Html.ActionLink("IPD", "IPD", "IPD")</td>
                </tr>
            </table>
            
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

