@model IEnumerable<HospitalManagment.Models.AllPatientDetails>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>


<p>
    @using (Html.BeginForm("Search", "OPD", FormMethod.Get))
    {
        <table>
            <tr>
                <td>Registration No:</td>
                <td>@Html.TextBox("RegistrationNo", ViewBag.FilterValue as string)</td>

                <td>OPD No:</td>
                <td>@Html.TextBox("OPDNO", ViewBag.FilterValue as string)<br /></td>
            </tr>
            <tr>

                <td>
                    Mobile:
                </td>
                <td>
                    @Html.TextBox("ContactNumber", ViewBag.FilterValue as string)
                </td>
                <td>
                    First Name:
                </td>
                <td>@Html.TextBox("FirstName", ViewBag.FilterValue as string)</td>
            </tr>
            <tr>
                <td style="direction:ltr">
                    <input type="submit" value="Search" />
                </td>
                <td colspan="3">

                    @*@Html.ActionLink("New Patient", "AddPatientDetails", "Person")*@
                    @Html.ActionLink("New Patient", "OPD", "OPD", new { PatientId = 0})

                </td>
            </tr>
        </table>

    }
</p>
@if (Model != null)
{
    <table class="showborder">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.patientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                @Html.DisplayName("Start OPD")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.patientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                <td>
                    @Html.ActionLink("OPD", "OPD", new { item.PatientId })
                </td>
            </tr>
        }

    </table>
}
