<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Theme/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

    @*<link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/CustomValidation/DateValidations.js"></script>
    <script>
        $(function () {
            $('input[type="submit"]').button();
        });

        $(function () {
            $("#Gender").selectmenu().selectmenu("menuWidget");
            //$('input[type="select"]').selectmenu();
        });

    </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            @*<div class="float-left">*@
            @*<img src="~/Images/IMG-20171206-WA0014.jpg" />*@
            @*<img src="~/Images/gynaecology-journal.jpg" />*@
            @*<p class="site-title">@Html.ActionLink("Logo", "Index", "Home")</p>*@
            @*</div>*@
            <div class="float-center">
                <table >
                    <tr style="height:10px; border-bottom:5px solid darkred">
                        <td style="width:90px;">
                            <img style="align-content:flex-end;width:100px;height:75px;" src="~/Images/IMG-20171206-WA0014.jpg" />
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td style="font:bold 45px vedana; font-style:initial;  ">
                                        <label style="color:darkred; width:100px;">Bharati</label>
                                    </td>
                                    <td>
                                        <label style="font:bold 20px vedana;color:darkblue;width:345px;">Hospital & Laparoscopy Center</label>
                                        @*<label>Reg.No. MMC 2006-11-3480</label>*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <label style="color:darkblue;">Plot No.16, Ring road, Laxminagar, Phaltan-415523</label>
                        </td>
                        @*<td>
                                <label style="color:darkblue;width:235px;">Plot No.16, Ring road, Laxminagar, Phaltan - 415523</label>
                            </td>*@

                        @*<td width="50%">
                                <div class="float-right">
                                    <section id="login">
                                        @Html.Partial("_LoginPartial")
                                    </section>
                                    <nav>
                                        <ul id="menu">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        </ul>
                                    </nav>

                                </div>
                                <img src="~/Images/temp.gif" />
                            </td>*@
                        @*<td width="20%">
                                <nav>
                                    <ul id="menu">
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    </ul>
                                </nav>
                            </td>*@
                    </tr>
                    @*<tr style="border-bottom:5px solid darkred">

                            <td colspan="2" align="left">
                                <label style="color:darkblue;">Plot No.16, Ring road, Laxminagar, Phaltan - 415523  Reg.No. MMC 2006-11-3480</label>

                            </td>
                            <td>
                                <label style="color:darkblue;">Reg.No. MMC 2006-11-3480</label>
                            </td>
                        </tr>*@
                    <tr style="border-bottom:5px solid darkred;">
                        <td>
                            <img src="~/Images/laproscopy.jpg" style="align-content:flex-end;width:100px;height:75px;" />
                        </td>
                        <td>
                            <table>
                                <tr><td colspan="2"><label>Dr. Mahesh H. Shinde(M.B.B.S., M.D. Obs & Gny)</label></td></tr>
                                <tr><td colspan="2"><label>Reg.No. MMC 2006-11-3480</label></td></tr>
                                <tr><td colspan="2">(स्त्री रोग,प्रसूति तज्ज्ञ व लॅपेरोस्कोपिक शस्त्रक्रिया)</td></tr>
                                <tr><td>Hospital Reg. STR/PHL/78 </td></tr>
                                <tr><td>Mobile : 9737407067</td><td>Hospital: (02166) 225581</td></tr>
                            </table>
                        </td>
                        <td>
                            <img src="~/Images/temp.gif" style="width:100px;height:75px;" />
                        </td>
                    </tr>
                </table>

            </div>
            @*<div class="float-right">
                   <section id="login">
                       @Html.Partial("_LoginPartial")
                   </section>
                    <nav>
                           <ul id="menu">
                               <li>@Html.ActionLink("Home", "Index", "Home")</li>
                               <li>@Html.ActionLink("About", "About", "Home")</li>
                               <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                           </ul>
                       </nav>

                </div>*@
        </div>
    </header>
    <div id="body">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @Html.ValidationMessage("Error")

            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left; ad">
                <p>&copy; @DateTime.Now.Year - Bharti Hospital</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>
</html>
