@model IEnumerable<HospitalManagment.Models.Investigations>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvestigationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpdId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIVNII)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HBSAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VDRL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrineRM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SrCreat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SrUrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SrTSH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemenAnalysis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllAttachmentinOnePDF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvestigationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpdId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIVNII)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HBSAvg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VDRL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrineRM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SrCreat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SrUrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SrTSH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemenAnalysis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate) @*will update thhis*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
